
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/logo64.ico' %}" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block content %}{% endblock content %}
</body>
<style>
       body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: sans-serif;
        gap: 2rem;
        color: white;
        align-items: center;
        width: 100vw;
        height: 100vh;
    background: linear-gradient(to bottom, #007bff, #ffffff);
}
</style>
</html>